<section>
    <div class="container">

    
    <div  class="row">
        <div class="col-xl-3  col-lg-3 col-md-12 col-12 first_sec">
            <h6>Say Hello </h6>
            <p>We’re a friendly bunch here at Belton. Place an inquiry and we’ll get back to you the same day.</p>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-12">
            <p>
                <mat-form-field appearance="outline">
                  <mat-label>First Name</mat-label>
                  <input matInput placeholder="shahed">
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
     
                </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="outline">
                  <mat-label>Last Name </mat-label>
                  <input matInput placeholder="Tareq">
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              
                </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="outline">
                 
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="examp@gmail.com">
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                 
                </mat-form-field>
              </p>
              <p>
                <mat-form-field appearance="outline">
                 
                  <mat-label>Message</mat-label>
                  <input matInput placeholder="hello...">
                  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                 
                </mat-form-field>
              </p>
              <button mat-raised-button color="primary">send</button>
               

        </div>
</div>
</div>
</section>
