<div class="container">
    <div class="row ">
        <div class="col-xl-12 col-12 first">
               <h1>Here’s our story </h1> 
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-12 f">
            <p> We started out at our home kitchen, whipping up finger-foods for our friends’ weddings and nieces’ birthdays. Everyone loved our food and our innovative combinations of flavors. </p>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-12">
            <p> So, what started out as a family operated business quickly grew into a fully-fledged small business that we operate out of our professional catering kitchen in Lisle. The team has also grown to 6 people; we can cater at events as large as 1,000 people. </p>
        </div>
    </div>
</div>
