<div class="container">
    <div class="row">
        <div class="col-lx-6 col-lg-6 col-md-12 col-12 image">
            <img src="../../../../assets/images/serv.jpg">
        </div>
        <div class="col-lx-6 col-lg-6 col-md-12 col-12 title">
          <h4>Delicious food creates memories</h4>
          <p> Belton is food studio that not just caters out deliciousness, but lives by the philosophy that nothing brings people together like good food. Whatever the occasion that you need our food for, whatever dietary requirements, we will make it happen.</p>
          <button class="btn btn-dark" (click)="onClick()"> Our Story</button>
        </div>
    </div>
</div>
