<div class="container">
    <div class="row">
       
        <div class="col-lx-6 col-lg-6 col-md-12 col-12 title">
          <h4>Our services</h4>
          <p> Here at Belton, we pride ourselves from never turning down a client. That means whatever your occasion is, no matter how many guests you’re trying to feed, and no matter how restricted your diet, we will be happy to serve you delicious food. </p>
          <button class="btn btn-dark" (click)="onClick()"> Our Story</button>
        </div>
        <div class="col-lx-6 col-lg-6 col-md-12 col-12 image">
            <img src="../../../../assets/images/contacct.jpg">
        </div>
    </div>
</div>

