<section>

        <div class="row">
            <div class="col-12 col-xl-12 title">
                <h1> We can cater to all of your needs </h1>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-12 first element">
                <p>From small, family events to grand corporate gatherings, we offer a huge variety of services here at Belton. Let us know exactly what your needs are and we will do our very best to make your event memorable.  </p>
                <p> Even if you don’t see your occasion listed below, we encourage you to get in touch. We’ll be glad to provide you with a custom quote. </p>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-12 sec element">
                
                <ul>
                    <p> SERVICES</p>
                    <li>—Birthdays; </li>
                    <li>—Anniversaries; </li>
                    <li>—Christenings; </li>
                    <li>—Weddings; </li>
                </ul>
                <ul>
                    <p>EXTRA SERVICES</p>
                    <li>—Plate and glass rental; </li>
                    <li>—Table decor; </li>
                    <li>—Allergy-friendly menus; </li>
                    <li>—Dessert table; </li>
                </ul>
            </div>
          
        </div>

</section>